# Gemini
# GOOGLE_GENERATIVE_AI_BASE_URL=https://ai-gateway.turboost.app/v1beta
GOOGLE_GENERATIVE_AI_API_KEY=

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/video_similarity
SKIP_EXISTING_EMBEDDINGS=true
